
@import 'node_modules/bootstrap/dist/css/bootstrap';

$menu-animation-duration: .5s;
$section-color: #F44336;
$nav-link-side-padding: 10px;

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
}

nav {
    height: 80px;
    display: flex;
    padding: 5px 0;
    align-items: center;
    transition: all $menu-animation-duration;

    a {
        color: black;
        padding: 5px $nav-link-side-padding;
        font-size: 1.2em;
        text-decoration: none !important;
        position: relative;
        text-transform: uppercase;

        &:hover {
            color: black;
        }

        &:hover:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: $nav-link-side-padding;
            left: $nav-link-side-padding;
            border-bottom: 1px solid black;
        }
    }

}

.menu-button, .close-button {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 25px;
    font-weight: normal;
}

.close-button {
    display: none;
}

@media (max-width: 700px) {
    .hide-mobile {
        display: none;
    }
    nav:not(.active) {
        a {
            display: none;
        }
        a.menu-button {
            display: block;
        }
    }
    nav.active {
        height: 220px;
        flex-direction: column;
        a.close-button {
            display: block;
        }
    }
}

.logo {
    height: 70px;
    width: auto;
    transition: all $menu-animation-duration;
    margin-right: auto;
    align-self: flex-start;
}

.carousel {
    text-align: center;
    padding-bottom: 200px;

    .item {
        h1 {
            padding-top: 200px;
        }
    }

    button {
        color: white;
    }
}

section:nth-of-type(2n - 1) {
    background-color: $section-color;
    color: white;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.statistic {
    padding: 20px;
    display: inline-block;
    text-align: center;

    img {
        border-radius: 100%;
    }
}

#services .statistic {
    max-width: 400px;
}

section {
    display: inline-block; // because of collapsing margins
    width: 100%;
    padding: 10px;

    h1 {
        margin-bottom: 50px;
    }
}
